<%= link_to "Share a Recipe", new_recipe_path, class: "btn btn-primary btn-newpage-link pull-right" %>
<br>

<h1 class="container recipes-title centered">Santa Cruz Recipes</h1>

<div class="container">
  <% @recipes.each do |recipe| %>
    <div class="row">
      <div class="well col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
        <div class="col-md-2">
          <section class="chef_info center">
            <%= gravatar_for recipe.chef, size: 100%>
          </section>
        </div>
        <h4><%= link_to recipe.name, recipe_path(recipe), class: "show-page-link"%></h4>
        <p><%= recipe.summary %></p>
        <p>
          <span class="quiet">
            <small>Chef <%= recipe.chef.chefname %></small><br>
            <small><%= time_ago_in_words(recipe.created_at) %> ago</small>    
          </span>
        </p>
      </div>
      <!--<div class="col-md-4">-->
        <%#= image_tag(recipe.picture.url, size: "250x150", class: "recipe-picture") if recipe.picture? %>
      <!--</div>-->
    </div>
  <% end %>
</div>
